
body {
  background-color: (#FFFFFF);
}
:root {
  /* Light Mode Colors */
  
  /* Blue */
  --blue-1: #ebecfd;
  --blue-2: #d0d2fa;
  --blue-3: #aaaef6;
  --blue-4: #8389f2;
  --blue-5: #5d65ef;
  --blue-6: #3a43eb;
  --blue-7: #3139c8;
  --blue-8: #2930a7;
  --blue-9: #212686;
  --blue-10: #1a1e6a;

  /* Purple */
  --purple-1: #f9f0ff;
  --purple-2: #efdbff;
  --purple-3: #d3adf7;
  --purple-4: #b37feb;
  --purple-5: #9254de;
  --purple-6: #722ed1;
  --purple-7: #531dab;
  --purple-8: #391085;
  --purple-9: #22075e;
  --purple-10: #120338;

  /* Cyan */
  --cyan-1: #e6fffb;
  --cyan-2: #b5f5ec;
  --cyan-3: #87e8de;
  --cyan-4: #5cdbd3;
  --cyan-5: #36cfc9;
  --cyan-6: #13c2c2;
  --cyan-7: #08979c;
  --cyan-8: #006d75;
  --cyan-9: #00474f;
  --cyan-10: #002329;

  /* Green */
  --green-1: #eefae8;
  --green-2: #d6f4c9;
  --green-3: #b6eb9d;
  --green-4: #95e170;
  --green-5: #74d845;
  --green-6: #56d01c;
  --green-7: #49b118;
  --green-8: #3d9414;
  --green-9: #317710;
  --green-10: #275e0d;

  /* Magenta */
  --magenta-1: #fff0f6;
  --magenta-2: #ffd6e7;
  --magenta-3: #ffadd2;
  --magenta-4: #ff85c0;
  --magenta-5: #f759ab;
  --magenta-6: #eb2f96;
  --magenta-7: #c41d7f;
  --magenta-8: #9e1068;
  --magenta-9: #780650;
  --magenta-10: #520339;

  /* Red */
  --red-1: #fbe6e6;
  --red-2: #f4c2c2;
  --red-3: #ec9191;
  --red-4: #e35e5e;
  --red-5: #db2e2e;
  --red-6: #d30000;
  --red-7: #b30000;
  --red-8: #960000;
  --red-9: #780000;
  --red-10: #5f0000;

  /* Orange */
  --orange-1: #fff7e6;
  --orange-2: #ffe7ba;
  --orange-3: #ffd591;
  --orange-4: #ffc069;
  --orange-5: #ffa940;
  --orange-6: #fa8c16;
  --orange-7: #d46b08;
  --orange-8: #ad4e00;
  --orange-9: #873800;
  --orange-10: #612500;

  /* Yellow */
  --yellow-1: #feffe6;
  --yellow-2: #ffffb8;
  --yellow-3: #fffb8f;
  --yellow-4: #fff566;
  --yellow-5: #ffec3d;
  --yellow-6: #fadb14;
  --yellow-7: #d4b106;
  --yellow-8: #ad8b00;
  --yellow-9: #876800;
  --yellow-10: #614700;

  /* Volcano */
  --volcano-1: #fff2e8;
  --volcano-2: #ffd8bf;
  --volcano-3: #ffbb96;
  --volcano-4: #ff9c6e;
  --volcano-5: #ff7a45;
  --volcano-6: #fa541c;
  --volcano-7: #d4380d;
  --volcano-8: #ad2102;
  --volcano-9: #871400;
  --volcano-10: #610b00;

  /* Geekblue */
  --geekblue-1: #f0f5ff;
  --geekblue-2: #d6e4ff;
  --geekblue-3: #adc6ff;
  --geekblue-4: #85a5ff;
  --geekblue-5: #597ef7;
  --geekblue-6: #2f54eb;
  --geekblue-7: #1d39c4;
  --geekblue-8: #10239e;
  --geekblue-9: #061178;
  --geekblue-10: #030852;

  /* Lime */
  --lime-1: #fcffe6;
  --lime-2: #f4ffb8;
  --lime-3: #eaff8f;
  --lime-4: #d3f261;
  --lime-5: #bae637;
  --lime-6: #a0d911;
  --lime-7: #7cb305;
  --lime-8: #5b8c00;
  --lime-9: #3f6600;
  --lime-10: #254000;

  /* Gold */
  --gold-1: #fdf8ea;
  --gold-2: #fbefcc;
  --gold-3: #f8e3a3;
  --gold-4: #f4d579;
  --gold-5: #f1c950;
  --gold-6: #eebd2a;
  --gold-7: #caa124;
  --gold-8: #a9861e;
  --gold-9: #886c18;
  --gold-10: #6b5513;

  /* Greys */
  --grey-1: #ececed;
  --grey-2: #d1d1d3;
  --grey-3: #acadb0;
  --grey-4: #86878c;
  --grey-5: #626369;
  --grey-6: #3f4148;
  --grey-7: #36373d;
  --grey-8: #2d2e33;
  --grey-9: #242529;
  --grey-10: #1c1d20;
  
  /* Seed colors */
  --color-text-base: var(--grey-6);
  --color-text-light-solid: #ffffff;
  --color-bg-base: #ffffff;

  /* Brand Colors */
  --brand-linkedin: #0077B5;
  --brand-careerbuilder: #000000;
  --brand-ziprecruiter: #B2E522;
  --brand-tiktok: #000000;
  --brand-instagram: #D62976;
  --brand-craigslist: #800080;
  --brand-youtube: #FF0000;
  --brand-monster: #6E46AE;
  --brand-glassdoor: #0DAB40;
  --brand-indeed: #003A9B;
  --brand-x-twitter: #000000;
  --brand-facebook: #3579EA;
  --brand-snapchat: #FFFC00;
  --brand-recruiterrecommended: #EAA723;
}

[data-theme="dark"] {
  /* Dark Mode Colors */

  --purple-dark: #5A17AF;
  --magenta-dark: #870E65;
  --red-dark: #8B102A;
  --blue-dark: #1D2EC4;
  --teal-dark: #006C9A;
  --turquoise-dark: #007256;
  --green-dark: #41790B;
  --orange-dark: #803C0C;
  --yellow-dark: #896B00;

  /* For dark mode text and bg, you can add or override here */
  --color-text-base: #ececed;
  --color-bg-base: #1c1d20;
}
